body {
  margin: 0;
  font-family: -apple-system, 'Twinkle Star',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1F1839;
}

#root > div.App > header{
  color: rgb(31, 24, 57);
  font-size: 60px;
}

code {
  font-family:'Twinkle Star'
}

.landing-page-btns-div{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.login-btn{
  margin-right: 20px;
  font-family:'Twinkle Star'
}

.logout-btn{
  margin-left: 20px;
  font-family:'Twinkle Star'
}



/* CSS */
button {
  align-items: center;
  background-color: #D8A8C3;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:'Twinkle Star'
}

button:focus {
  color: #171e29;
}

button:hover {
  border-color: #937BB6;
  color: #937BB6;
  fill: #937BB6;
}

button:active {
  border-color: #937BB6;
  color: #937BB6;
  fill: #937BB6;
}

@media (min-width: 768px) {
  button {
    min-width: 170px;
  }
}

/* CSS */
.login-btn {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: rgb(31, 24, 57);

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-btn:hover,
.login-btn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.login-btn:active {
  background: var(--color);
  color: #fff;
}




/* CSS */
.logout-btn {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: rgb(31, 24, 57);

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logout-btn:hover,
.logout-btn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.logout-btn:active {
  background: var(--color);
  color: #fff;
}